* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f8fc;
    color: #344767;
}
/* ================= LOGIN PAGE ================= */
.login-page {
    min-height: 100vh;
    background: #f7f8fa;
    position: relative;
}
.login-background {
    height: 370px;
    margin: 5px 10px 0;
    border-radius: 7px;
    background:
        linear-gradient(
            120deg,
            rgba(25, 40, 100, .75),
            rgba(0, 130, 190, .55)
        ),
        url("skelet.png.jpeg");
    }
.welcome {
    text-align: center;
    color: white;
    padding-top: 100px;
}
.welcome h1 {
    margin-bottom: 12px;
    font-size: 35px;
}
.welcome p {
    font-size: 16px;
}
/* ================= LOGIN BOX ================= */
.login-box {
    width: 430px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}
.login-box h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}
/* ================= SOCIAL BUTTONS ================= */
.social {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}
.social button {
    width: 100%;
    padding: 13px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    color: #041427;
    border: 1px solid rgba(255, 255, 255, 0.075);
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}
.social button i {
    color: #1f3e58;
}

/* ================= INPUTS ================= */
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    height: 38px;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #d9e5ef;
    border-radius: 6px;
    outline: none;
}
.login-box input:focus {
    border-color: #1677d2;
}

/* ================= SIGN IN ================= */
.sign-in {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background:#07528A;
    cursor: pointer;
}
.sign-in:hover {
    background: #00A8FF;
}

/* ================= OPTIONS ================= */
.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
}
.options a {
    color: #1677d2;
    text-decoration: none;
}
.options label {
    color: #1677d2;
    font-size: 12px;
}
.options input {
    width: auto;
    margin: 0;
}

/* ================= OR ================= */
.or {
    text-align: center;
    margin: 20px 0;
    color: #5f7890;
    font-size: 12px;
}

/* ================= SIGN UP ================= */
.sign-up {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: #07528A;
    cursor: pointer;
}
.sign-up:hover {
    background: #131f8b;
}

/* ================= LOGIN FOOTER ================= */
.login-footer {
    position: absolute;
    top: 680px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 38px;
}
.login-footer a {
    color: #4179ad;
    text-decoration: none;
    font-size: 13px;
}

/* ================= DASHBOARD ================= */

.dashboard {
    min-height: 100vh;
    display: flex;
    background: #f4f8fc;
}

/* ================= SIDEBAR ================= */
.sidebar {
    width: 255px;
    min-height: 100vh;
    background: #ffffff;
    border-right: 1px solid #dceaf5;
    padding: 28px 24px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

/* ================= LOGO ================= */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    margin-bottom: 32px;
}

.logo-icon {
    width: 38px;
    height: 38px;
    border: 2px solid #1677d2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1677d2;
    border-radius: 8px;
}
.logo span {
    font-size: 13px;
    font-weight: bold;
    color: #07528A;
}

/* ================= MENU ================= */
.menu a {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    text-decoration: none;
    color: #396897;
    font-size: 13px;
}
.menu a:hover {
    background: #e8f7ff;
    color: #4884b3;
}
.menu a.active {
    background: #e8f4ff;
    color: #1677d2;
}

/* ================= SIDEBAR ICONS ================= */
.sidebar a i {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #f4f7fa;
    color: #1677d2;
    margin-right: 4px;
    font-size: 14px;
}
.sidebar a:hover i {
    background: #2f5983;
    color: white;
}
.menu a.active i {
    background: #1677d2;
    color: white;
}

/* ================= HELP ================= */
.help {
    position: absolute;
    bottom: 20px;
    left: 24px;
    width: 190px;
    height: 60px;
    border-radius: 12px;
    background: #396897;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 25px;
}

/* ================= MAIN ================= */
.main {
    width: calc(100% - 255px);
    margin-left: 255px;
    background: #f4f8fc;
}

/* ================= TOPBAR ================= */
.topbar {
    height: 115px;
    background: #ffffff;
    border-bottom: 1px solid #e1eaf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 35px;
}
.breadcrumb {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #8aa0b5;
    margin-bottom: 8px;
}
.top-title h2 {
    font-size: 17px;
    color: #23415f;
}
.top-right {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 13px;
}
.logout {
    color: #1677d2;
    cursor: pointer;
}

/* ================= SEARCH ================= */
.search {
    width: 190px;
    height: 38px;
    border: 1px solid #d9e5ef;
    border-radius: 8px;
    background: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
}
.search i {
    color: #1677d2;
}
.search input {
    width: 100%;
    border: none;
    outline: none;
    color: #344767;
}

/* ================= CONTENT ================= */
.content {
    padding: 22px 28px;
    background: #f4f8fc;
}
.content > h1 {
    font-size: 24px;
    margin-bottom: 25px;
    color: #23415f;
}

/* ================= CARDS ================= */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
.card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid #e2ebf3;
    box-shadow:
        0 5px 20px rgba(35, 80, 120, 0.08);
}
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.card-title h3 {
    font-size: 15px;
    color: #23415f;
}
.card-title i {
    color: #1677d2;
}

/* ================= CHART ================= */
.chart-content {
    display: flex;
    align-items: center;
    gap: 30px;
}
.donut {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

.donut::after {
    content: "";
    position: absolute;
    width: 88px;
    height: 88px;
    background: #ffffff;
    border-radius: 50%;
    top: 31px;
    left: 31px;
}

/* ================= CLINIC CHART ================= */
.clinic-chart {
    background: conic-gradient(
        #ed008c 0 33%,
        #2864e8 33% 40%,
        #ffc400 40% 60%,
        #10b83f 60% 96%,
        #30345f 96% 100%
    );
}
/* ================= PHARMACY CHART ================= */
.pharmacy-chart {
    background: conic-gradient(
        #2864e8 0 27%,
        #a8b9d8 27% 48%,
        #ed008c 48% 57%,
        #16b83f 57% 75%,
        #30345f 75% 100%
    );
}

/* ================= MARKET CHART ================= */
.market-chart {
    background: conic-gradient(
        #30345f 0 40%,
        #a8b9d8 40% 75%,
        #16b83f 75% 100%,
        #e56ba8 75% 100%
    );
}

/* ================= CHART LIST ================= */
.chart-list {
    flex: 1;
}
.chart-list p {
    min-height: 43px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #e5edf4;
    font-size: 12px;
    color: #5f7890;
}
.chart-list b {
    margin-left: auto;
    color: #1677d2;
}

/* ================= DOTS ================= */
.pink-dot,
.blue-dot,
.green-dot,
.yellow-dot,
.dark-dot,
.light-dot {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    display: inline-block;
}
.pink-dot {
    background: #e56ba8;
}
.blue-dot {
    background: #1677d2;
}
.green-dot {
    background: #35b97a;
}
.yellow-dot {
    background: #f5c451;
}
.dark-dot {
    background: #526f8c;
}
.light-dot {
    background: #8ba4bd;
}

/* ================= DETAILS BUTTON ================= */
.details {
    background: #155c9e;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    margin-top: 15px;
    cursor: pointer;
}
.details:hover {
    background: #0e63b5;
}

/* ================= HEALTH ================= */
.health-number {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #30345f;
}
.health-number span {
    color: #7ac943;
    font-size: 12px;
}

.health-chart {
    height: 210px;
    overflow: hidden;
    border-bottom: 1px solid #e5edf4;
    position: relative;
}
.health-line {
    width: 100%;
    height: 210;
}

/* ================= FOOTER ================= */
.dashboard-footer {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    color: #1a3857;
    font-size: 12px;
    background: #ffffff;
    border-top: 1px solid #e1eaf2;
    font-size: medium;
}
.dashboard-footer a {
    color: #1a446d;
    text-decoration: none;
    margin-left: 20px;
}
.dashboard-footer a:hover {
    color: #1677d2;
    text-decoration: underline;
}

/* ================= ERROR MESSAGE ================= */
#emailError,
#passwordError {
    color: darkblue;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
}

/* ================= MEDICAL IMAGE ================= */
.medical-image {
    position: absolute;
    left: 30px;
    top: 150px;
    width: 300px;
    height: 600px;
    z-index: 1;
}
.medical-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ================= MOBILE ================= */

/* ================= TABLET ================= */

@media (max-width: 900px) {

    .sidebar {
        width: 200px;
    }
    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
}
/* ================= MOBILE ================= */

@media (max-width: 600px) {
    .sidebar {
        display: block;
        width: 180px;
    }
    .main {
        width: calc(100% - 180px);
        margin-left: 180px;
    }
    .dashboard {
        width: 100%;
        margin-left: 0;
    }
    .content {
        width: 100%;
        padding: 15px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    /* TOP BAR */

    .topbar {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .top-title {
        width: 100%;
    }

    .menu-toggle {
        left: auto;
        right: 10px;
        top: 5px;
    }

    .top-right {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search {
        flex: 1;
        width: auto;
    }

    .search input {
        width: 100%;
    }

    .logout {
        white-space: nowrap;
    }

    /* CHARTS */

    .chart-content {
        flex-direction: column;
    }

    /* LOGIN */

    .login-box {
        width: 90%;
        max-width: 380px;
        top: 60%;
    }

    .login-footer {
        position: relative;
        top: 0;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 400px;
    }
}
.clinic-icon,
.pharmacy-icon,
.market-icon {
    width: 25px;
    min-width: 25px;
    text-align: center;
    font-size: 18px;
}

.clinic-icon.pink,
.pharmacy-icon.pink,
.market-icon.pink {
    color: #e91e63;
}

.clinic-icon.blue,
.pharmacy-icon.blue,
.market-icon.blue {
    color: #2196f3;
}

.clinic-icon.green,
.pharmacy-icon.green,
.market-icon.green {
    color: #22b573;
}

.clinic-icon.yellow {
    color: #f5b400;
}

.clinic-icon.dark,
.pharmacy-icon.dark {
    color: #30345f;
}

.pharmacy-icon.light {
    color: #7aa7d9;
}

.chart-list p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chart-list p span {
    flex: 1;
}
.top-title {
    position: relative;
}
.menu-toggle {
    position: absolute;
    left: 165px;
    top: 12px;
    border: none;
    background: none;
    font-size: 20px;
    color: #344767;
    cursor: pointer;
}